body {
  background-image: url("images/gradienthubs-554.png");
  background-repeat: no-repeat; /* Prevents tiling */
  background-size: cover;
  /* background-position: center; /* Centers the image */
}
#title {
  color: rgb(215, 215, 178);
  font-size: 42px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: none;
}
p {
  color: rgb(202, 230, 202);
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 10px;
  line-height: 23px;
}

button {
  text-align: center;
  padding: 10px;
  font-size: 20px;

  border-radius: 10px;
  display: block;
  margin: 0 auto;
  border: 2px;
  border-color: rgb(200, 132, 161);
  background-color: rgb(227, 224, 187);
  color: rgb(111, 19, 19);
  margin-top: 40px;
}
button:hover {
  background-color: rgb(216, 212, 142);
  cursor: pointer;
  color: rgba(22, 8, 2, 0.566);
}
h2 {
  color: rgb(215, 215, 178);
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  text-decoration: none;
}
h3 {
  color: rgb(215, 218, 136);
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  text-decoration: underline;
}
ul {
  color: rgb(202, 230, 202);
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 10px;
  line-height: 30px;
  margin-left: 10px;
}
b {
  color: rgb(224, 110, 110);
  font-style: italic;
}
a {
  text-decoration: none;
}
img {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
  border-radius: 10px;
}

ol {
  color: rgb(244, 187, 157);
  font-size: 22px;
  font-family: monospace;
  margin-bottom: 10px;
  list-style: disc;
  font-weight: bold;
  line-height: 30px;
  margin-left: 10px;
}
